<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>名前:</p
  <p><%= f.text_field :name %></p>
  <p>内容:</p>
  <p><%= f.text_area :body, class: "form-control", row: 3 %></p>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>